<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>deleteByIdStudent</title>
  </head>

  <body>
    <h1>Удаление студента по id</h1>

    <h3>
        <a href="http://localhost:8080/">назад</a>
    </h3>

    <form method="post" >

        <div>
            <label>id: </label>
            <input name="id" type="number" min="1" max="9223372036854775807" required>
        </div>

        <br>

        <div>
            <button>удалить</button>
        </div>
    </form>

  </body>
</html>